@charset "UTF-8";

html {
	font-size:16px;
}

body {
	color:#2B2B2B; /* dark grey  rgb(43,43,43)*/
	/* red rgba(198,33,38) 		#C62126   */
	/* light grey rgb(149,152,154)	 #95989A   */
	/* font-family: 'Roboto', sans-serif; */
	font-family: 'Crimson Text', serif;
	letter-spacing: .5px;
}

p {
	font-size:1.125rem;
	letter-spacing:0px;
}

h1 { /* used as heading on 404*/
	font-family: 'Crimson Text', serif;
	margin-top:0px;
	color:#C62126;
	font-size:4rem;
}

h2 { /* used as headings on project pages*/
	font-size:1.5rem;
	color:#C62126;
	margin-top:0px;
}

h3 { /* used as subhead on 404*/
	font-family: 'Roboto', sans-serif;
	font-weight:400;
	font-size:1rem;
}

h4 { /* used on resume page*/
	font-size:1.125rem;
	color:#C62126;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
	letter-spacing: 0;
	font-size: 1rem;
}

/* 404 */
.sorry h1, .sorry h3, .sorry p{
	text-align:center;
}

@media (min-width: 768px) {
	.sorry h1, .sorry h3, .sorry p {
		text-align:left;
	}
}

.sorry {
	color:#95989A;
	font-family: 'Roboto', sans-serif;
	font-size:.875rem;
}
/* /404 */

/* red high light feature */

.redlight {
    transition: background-size .2s ease;
    background: linear-gradient(to bottom, transparent 62%, #C62126 0) center center/0% 75% no-repeat; /* center center is position, 0% 75% is the width, height */
    padding: 0 4px 2px 4px; /* padding of the highlight */
    cursor: pointer;
	  color: rgba(43,43,43, 1);  /* text color before highlight */
		margin-left:-4px; /* compensates for the padding */
		margin-right:-4px; /* compensates for the padding */
}

.redlight:hover {
	background-size: 100% 80%;
	/*color:#2B2B2B;*/
	text-decoration: none;
}

.redlight:active {
    background-size: 80% 100%; /* on click, it contracts a tiny bit*/
}

.redlight:visited, .redlight:focus {
	text-decoration: none;

}

.link { /* turns links red in color*/
	color:#C62126;
}

a.link:visited, a.link:focus{
	color:#C62126;
	text-decoration:none;
}

a.link:hover { /* dark grey on hover*/
	color:#2B2B2B;
	text-decoration:none;
}

a.link:active {
	text-decoration:none;
}

.current {
	transition: background-size .2s ease; 
	background: linear-gradient(to bottom, transparent 62%, #C62126 0) center center/0% 75% no-repeat; 
	padding: 0px 4px 2px 4px;
	color:#2B2B2B;
	margin-left:-4px;
	margin-right:-4px;
	background-size:100% 80%; /* width, height*/
}

.current:active, .current:visited, .current:focus{
	color:#2B2B2B;
	text-decoration:none;
	background-size: 100% 80%;
}

.current:hover {
	color:#2B2B2B;
	text-decoration:none;
	background-size: 80% 100%; /* on hover, it contracts a tiny bit*/

}



/* end red high light feature */


/* index */

.blurb {
	font-family: 'Roboto';
	color: #95989A;
	font-size: .875rem;
	padding-bottom:20px;
}

.project-title {
	font-size:1.125rem;
}

a.project-title:hover, a.project-title:focus {
	color:#2B2B2B;
}


/* hover on imgs*/

.hovereffect {
  width: 100%;
  height: 100%;
  float: center;
  overflow: hidden;
  position: relative;
  cursor: default;
	margin-bottom:10px;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.hovereffect:hover img {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.7" /><feFuncG type="linear" slope="0.7" /><feFuncB type="linear" slope="0.7" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.7);
  -webkit-filter: brightness(0.7);
}


/* end hover */


/* end index */


/* pushes */
.push-top-4 {
	padding-top:4px;
}

.push-top-10 {
	padding-top:10px;
}

.push-top-20 {
	padding-top:20px;
}

.push-top-20-mobile { /* only on mobile is there 20px */
	padding-top:20px;
}

.push-top-40 { /* on mobile there is less */ 
	padding-top:20px;
}

.push-top-60 { /* on mobile there is less */ 
	padding-top:20px;
}

@media (min-width: 768px) {
		 
	.push-top-40 { /* at larger sizes there is more */ 
		padding-top:40px;
	}
	
	.push-top-60 { /* on mobile there is less */ 
		padding-top:60px;
	}

	.push-top-20-mobile {
		padding-top:10px; /* on large screens it disappears  */ 
}
	
}

@media (min-width: 992px) {
		 

	.push-top-20-mobile {
		padding-top:0px; /* on large screens it disappears  */ 
}
	
}

/* end pushes */


/* CA list at the bottom of projects */
.project-list-bottom ul {
	list-style:none;
	font-size:1rem;
	line-height:2rem;
	text-align: center;
	padding-top:.8rem;
	padding-left:0;	
}

.project-list-bottom ul li {
	padding-bottom:.5rem;
	display: inline;
	padding-right:2rem;
}
/* END A list at the bottom of projects */


/* CA side bar */
.ca-sidebar-nav ul {
	list-style:none;
	font-size:1.2rem;
	line-height:2rem;
	text-align: center;
	padding-top:10px;
	padding-left:0;	
}

.ca-sidebar-nav ul li {
	padding-bottom:5px;
	display: inline;
	padding-right:10px;
}


.ca-sidebar-item a {
	color: #95989A; 
}

.ca-sidebar-item a:hover{
	color:#2B2B2B;
}

/*.ca-sidebar-item a:visited {
	color: #95989A; 
}*/

.title {
	display:block;
	text-align:center;
}

.name, .name:visited {
	color:#C62126;
	font-size:1.5rem;
}

.name:hover, .name:active, .name:focus {
	color:#2B2B2B;
	text-decoration: none;
}


@media (min-width: 768px) {
	.title {
		text-align:left;
		display:inline;
	}
	
	.ca-sidebar-nav ul {
		text-align:left;
	}
	
	.ca-sidebar-nav ul li {
		display: block;
	}
	
	.narrow{
		padding-left:50px;
	}
	
	.ca-sidebar-nav {
		position:fixed;
}
}
	
/* end CA side nav bar */

/* footer */

.bar-short {	
	border-style:none;
	border-width:1px 0px 0px 0px;
	color:#95989A;
	padding-bottom:4px;
}

.bar-long {	
	border-style:solid;
	border-width:1px 0px 0px 0px;
	color:#95989A;
	padding-bottom:4px;
}


@media (min-width: 768px) {
	.bar-short {
			border-style:solid;
			border-width:1px 0px 0px 0px;
			color:#95989A;		
	}
}

.icon-footer {
	width:20px;
	margin:3px;
	margin-top:0px;
}

.social {
	opacity:.6;
	width:20px;
	margin:3px;
 	transition: opacity .2s ease;
}

.social:hover {
	opacity:1;
}

.footer-right, .footer-left{
	text-align:center;
	padding-top:5px;
	color:#95989A
}

.footer-left {
	padding-bottom:10px;
}


@media (min-width: 768px) {
	.footer-right{
		text-align:right;
	}
	
	.footer-right p {
		font-size:.875rem;
	}

	.footer-left{
		text-align:left;
		padding-bottom:30px;

	}
}

/* footer */

/* resume page */
.job {
	padding-bottom:10px;
}

.resume-company {
	font-family:'Roboto', sans-serif;
	font-weight:700;
	font-size:1rem;
	margin-bottom:2px;
}

.resume-position {
	font-style:italic;
	margin-bottom:2px;
}

.resume-text {
	font-family: 'Roboto', sans-serif;
	font-size:1rem;
	margin-bottom:2px;
}

.resume-block {
	visibility: hidden;
	height:20px;
}

@media (min-width:768px) {
	.resume-block {
		visibility: visible;
		padding-bottom:16px;
		height:100%;
	}
}
/* end resume page */

/* project pages */
.project-text {
	font-family:'Roboto', sans-serif;
	font-size:1.2rem;
}

.project-text-list {
	font-family:'Roboto', sans-serif;
	font-size:1rem;
	list-style:none;
	line-height:1.5rem;
	padding-top:0rem;
	padding-bottom:1rem;
}


.project-text-list li::before {
  content: "\FE62";  /* unicode plus */
  color: #95989A; 
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1.4rem; 
  margin-left: -1.5rem; 
}

.project-role-category {
	font-family:'Roboto', sans-serif;
	text-transform:uppercase;
	letter-spacing:.5px;
	font-size:.75rem;
	margin-bottom:.1rem;
	margin-top:1rem;
}

.project-role-info {
	font-family:'Crimson Text', serif;
	text-transform:none;
	font-size:1.25rem;
	line-height:1.4rem;
	font-style:italic;
}

.project-caption {
	font-family:'Roboto', sans-serif;
	font-size:1rem;
}

.prev-next {
	font-size:.875rem;
	font-family:'Roboto', sans-serif;
	text-transform:uppercase;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 0px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/* end project pages */
