@charset "UTF-8"; /* CSS Document */

html {
}

body{
	background-color:#F4F4F4;
	color:#2B2B2B;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color:#2B2B2B
}

a:hover {
	color:#54BD82;
	text-decoration:none;
}



@media (min-width:475px) {
	
	.container {
		max-width:440px;
		padding-left:0;
	}
}

@media (min-width:992px) {
	
	.container {
		max-width:1000px;
		padding-left:0;
	}
}


/* nav bar */

.logo {
	font-weight:300;
	text-transform:uppercase;
	font-size:2.5rem;
	letter-spacing:1px;
}

.navbar {
	border-bottom-width:0px;
	background-color:#F4F4F4;
	padding-top:2rem;
	text-align: center;
}

.navbar ul {
	list-style:none;
	padding-top:1rem;
	padding-left:0;
}

.navbar ul li {
	display:inline;
	padding: 1rem;
}

.navbar ul li.current a{
	color:#54BD82;
} 



@media (min-width:768px) {  /* ugh here, just tryna make the menu nicer */
	.navbar ul{
		text-align: right;
	}
	
	.navbar ul li {
		padding-right:0;
	}
	
	.logo {
		float:left;
	}
	
	
}


/* end nav bar */

/* home body hah*/

.thumbnail{
	background-color:#F4F4F4;
	border:0;
	padding:0;
}

.thumbnail .caption {
	padding:0;
}



/* end home body hah*/


